<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<th:block th:include="include :: header('库存货品列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>货品名称：<input type="text" name="goodsName" />
							</li>

							<li>货品规格：<input type="text" name="spec" />
							</li>

							<li>货品单位：<input type="text" name="unit" />
							</li>

							<li>货品单价：<input type="text" name="price" />
							</li>

							<li>货品存量：<input type="text" name="inventory" />
							</li>

							<li>创建日期：<input type="text" name="createTime" />
							</li>

							<li>创建人：<input type="text" name="createBy" />
							</li>

							<li><a class="btn btn-primary btn-rounded btn-sm"
								onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm"
								onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()"
					shiro:hasPermission="system:stockGoods:add"> <i
					class="fa fa-plus"></i> 添加
				</a> <a class="btn btn-primary btn-edit disabled"
					onclick="$.operate.edit()"
					shiro:hasPermission="system:stockGoods:edit"> <i
					class="fa fa-edit"></i> 修改
				</a> <a class="btn btn-danger btn-del disabled"
					onclick="$.operate.removeAll()"
					shiro:hasPermission="system:stockGoods:remove"> <i
					class="fa fa-remove"></i> 删除
				</a> <a class="btn btn-warning" onclick="$.table.exportExcel()"
					shiro:hasPermission="system:stockGoods:export"> <i
					class="fa fa-download"></i> 导出
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:stockGoods:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:stockGoods:remove')}]];
        var prefix = ctx + "system/stockGoods";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "库存货品",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'goodsId', 
					title : '货品编号',
					visible: false
				},
				{
					field : 'goodsName', 
					title : '货品名称',
					sortable: true
				},
				{
					field : 'spec', 
					title : '货品规格',
					sortable: true
				},
				{
					field : 'unit', 
					title : '货品单位',
					sortable: true
				},
				{
					field : 'price', 
					title : '货品单价',
					sortable: true
				},
				{
					field : 'inventory', 
					title : '货品存量',
					sortable: true
				},
				{
					field : 'createTime', 
					title : '创建日期',
					sortable: true
				},
				{
					field : 'createBy', 
					title : '创建人',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.goodsId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.goodsId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>